.container {
    font-family: Courier, sans-serif;
    height: 100vh;
}

.container-bg {
    background-image: url("../img/background.png");
    background-size: cover;
    vertical-align: middle;
}

.top-box {
    background-color: rgba(0,0,0,0.4);
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 35px;
}

.green-text {
    color: #329a65;
}

.top-box-link-name {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.top-box-link-name:hover {
    color: #329a65;
}

.top-box-navigation {
    display: flex;
    justify-content: space-around;
}

.top-box-link-icons {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-right: 15px;
}

.sprite-icons {
    background: url("../img/sprites.png");
}

.bg-calendar {
    width: 19px;
    height: 19px;
    background-position: -131px -15px;
}

.bg-forum {
    width: 28px;
    height: 20px;
    background-position: -15px -15px;
}

.bg-map {
    width: 20px;
    height: 20px;
    background-position: -15px -65px;
}

.bg-calendar:hover {
    background-position: -131px -64px;
}

.bg-forum:hover {
    background-position: -73px -15px;
}

.bg-map:hover {
    background-position: -65px -65px;
}

.top-box-link-login {
    color: white;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.top-box-welcome {
    border-left: rgba(255,255,255,0.2) solid 2px;
    padding-left: 25px;
    color: white;
}

.top-box-link {
    text-decoration: none;
}

.underline:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 7%);

}

.form-box {
    width: 328px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    display: flex;
    padding: 30px 60px;
    margin: 0 auto;
    flex-direction: column; 
}

.form-box:before {
    content: "";
    border: 9px #329a65 solid;
    position: absolute;
    left: -1px;
}

.form-box-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 0.5;
    flex-shrink: 0.5;
}

.form-box-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-box-title {
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
}

.form-box-link-login {
    text-decoration: none;
}

.social-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
    align-items: center;
}

.social-box-fb {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 47%;
    height: 45px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #264b96;
    color: white;
    position: relative;

}

.fb-link:before {
    content: "";
    height: 16px;
    border-left: solid rgba(0,0,0,0.3) 1px;
    position: absolute;
    left: 43px;
}

.social-box-google {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 47%;
    height: 45px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #c3412c;
    color: white;
    position: relative;
}

.google-link:before {
    content: "";
    height: 16px;
    border-left: solid rgba(0,0,0,0.3) 1px;
    position: absolute;
    left: 54px;
}

.background-line {
    position: relative;
    z-index: 1;
    font: 14px sans-serif;
    text-align: center;
}

.background-line:before {
     border-top: 2px solid #dfdfdf;
     content:"";
     margin: 0 auto;
     position: absolute;
     top: 50%; left: 0; right: 0; bottom: 0;
     z-index: -1;
 }

.br-line {
    background: #fff;
    padding: 0 15px;
}

.input-form {
    display: flex;
    justify-content: space-around;
    flex-grow: 0.5;
    flex-shrink: 0.5;
    flex-direction: column;
}

.input-form-box {
    margin-top: 18px;
    height: 44px;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 14px;
    padding-left: 20px;
}

.input-form-box:focus {
    box-shadow: 1px 3px 3px 1px rgb(0,0,0);
}

.checkbox {
    margin-top: 16px;
}

.terms-link {
    text-decoration: none;
}

.input-box-submit-btn {
    height: 44px;
    margin: 16px 0;
    font-size: 14px;
    color: white;
    background-color: #329a65;
    border-radius: 5px;
}
