body {

}

.container {
    width: 1061px;
    height: 769px;
    background-image: url("../img/background@1X.png");
    margin: 0 auto;
    padding-left: 155px;
    padding-right: 150px;
    font-family: Courier, sans-serif;
}
/*доп задание не получилось, меняет не только картинку но и текс.....*/
/*.container::before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: block;*/
    /*background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0.5));*/
/*}*/

.top-box {
    padding-top: 50px;
    height: 46px;
}

/*.top-box-link:hover {*/
    /*color: hotpink;*/
    /*background-color: #fff;*/
/*}*/

/*.top-box > .top-box-link:hover {*/
    /*background-color: hotpink;*/
/*}*/

.top-box-link {
    float: left;
    width: 14%;
}

/*.top-box-link .top-box-logo + .top-box-name + .top-box-subtitle:hover  {*/
    /*background-color: red;*/
/*}*/


/*.top-box-link:hover > .top-box-logo, .top-box-name, .top-box-subtitle {*/
    /*background-color: black;*/
/*}*/

/*.top-box-link:hover > .top-box-logo,.top-box-text {*/
    /*background-color: hotpink;*/
    /*color: black;*/
/*}*/

/*a:link {*/
    /*color: yellow;*/
/*}*/

/*a:visited {*/
    /*color: red;*/
/*}*/

/*a:active {*/
    /*color: darkred;*/
/*}*/

/*.top-box-link:hover {*/
    /*color: #f26522;*/
/*}*/

/*a.top-box-link:hover {*/
    /*color: red;*/
/*}*/

.top-box-logo {
    float: left;
    width: 44px;
    height: 46px;
    background-image: url("../img/logo.png");
}


.top-box-link:hover .top-box-logo {
    background-image: url("../img/logohover.png");
}

.top-box-text {
    float: left;
    margin-left: 15px;
    font-weight: 700;
}

/*.top-box-text:hover {*/
    /*color: #f26522;*/
/*}*/

.top-box-name {
    height: 23px;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

/*.top-box-name:hover {*/
    /*color: #f26522;*/
/*}*/

.top-box-subtitle{
    height: 13px;
    font-size: 18px;
    margin-top: 5px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.top-box-link:hover .text-color {
    color: #f26522;
}

.contacts {
    float: right;
    text-align: right;
    font-size: 18px;
    color: white;
    vertical-align: middle;
}

.contacts-email {

}

.contacts-number {
    margin-top: 5px;
}

.main-box {
    margin-top: 48px;
}

.main-box-content {
    float: left;
    margin-right: 68px;
    margin-bottom: 58px;
    text-decoration: none;
    position: relative;
}

.main-box-content:hover .text-color {
    color: #f26522;
}

.main-box-content:nth-child(3n+3) {
    margin-right: 0;
}

.main-box-img {

}

.main-box-name {
    margin-top: 22px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.details {
    background-image: url("../img/Hoverdetails.png");
    width: 100%;
    height: 63px;
    position: absolute;
    bottom: 43px;
    opacity: 0;
    color: white;
}

.main-box-content:hover .details {
    opacity: 1;
}

.details-value {
    margin-top: 31px;
    margin-left: 21px;
    font-size: 20px;
    float: left;
    width: 12%;
}

.details-value::before {
    content: "\20AC";
}

.details-value::after {
    content: "from";
    font-size: 10px;
    position: relative;
    top: -19px;
    left: -34px;
}

.view-details {
    float: left;
    margin-top: 35px;
    margin-left: 100px;
    font-size: 14px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 15px;
}

.bottom-box {
    font-size: 12px;
    color: white;
    text-align: center;
}

.bottom-box-content {

}

.clearfix:after{
    display: block;
    content:'';
    clear: both;
}
