.cancelBtn {
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-top: 3px;
}

.topSpan {
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.bottomSpan {
    font-weight: 400;
    font-family: sans-serif;
}