body {
	font-family: sans-serif;
	font-size: 16px;
}


.container {
	min-width: 1160px;
}

.wrap {
	width: 1160px;
	margin: 0 auto;
}

.header {
	background: url('../img/header-bg.png') fixed no-repeat;
	background-size: cover;
}

/*Header Logo*/

.header-bg {
	background-color: rgba(97, 96, 91, 0.5);
	display: flex;
   font-weight: 700;
  
}

.header-nav {
	display: inherit;
}

.header-logo {
	display: flex;
	align-items: center;
	flex: auto;

}

.header-logo-img {
	background: url('../img/logobg.png') no-repeat;
	height: 70px;
	width: 70px;
}

.header-logo-img:before {
	content: "H";
	position: relative;
	top: 10px;
	left: 10.5px;
	font-size: 50px;
	font-weight: bold;
	color: white;
}

.header-logo-text {
	font-size: 20px;
	color: white;
}

/*aqua text color*/

.text-aqua {
	color: #18CFAB;
	font-weight: bold;
}

/*Navigation header menu*/

.header-nav-menu {
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.header-nav-btn	{
	text-decoration: none;
	color: white;
	padding: 52px 10px;
}

.header-nav-btn:hover {
	color: #18CFAB;
	box-shadow: 0 2px 0 0 #18cfab;
}
.fa-search{
	color: white;
	margin-left: 10px;
	padding: 52px 10px;
}

.fa-search:hover {
	color: #18CFAB;
	box-shadow: 0 2px 0 0 #18cfab;
}

.fa-search-dollar {
	color: #18CFAB;
	padding: 52px 10px;
	position: relative;
    top: -45px;
    left: -7px;
    font-size: 20px;

}

.fa-search-dollar:hover {
	color: white;
}

/*Header content*/

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 120px;
	padding-bottom: 120px;
	text-transform: uppercase;
	color: white;
}

.header-top-subtitle {
	font-size: 30px;
}

.header-title {
	font-size: 60px;
	padding-top: 20px;
}

.header-bottom-subtitle {
	font-size: 25px;
	color: rgba(255, 255, 255, 0.4);
	padding-top: 20px;
}

/*content buttons*/

.header-content-btn {
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
	width: 400px;
}

.content-btn {
	padding: 20px 30px;
}

.btn-bg {
	background-color: #18CFAB;
	text-transform: uppercase;
	border-radius: 5px;
	border-top: white 3px solid;
	color: white;
	text-decoration: none;
}

.content-btn:hover {
	background-color: #00CBF6;
}

/*Our pros section*/

.section-pros {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	color: white;
	font-size: 15px;
}

.pros-box {
	height: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: auto;
}

.text-pros {
	margin-top: 15px;
}

.bg-dark-aqua {
	background-color: #1C2A33;
	border-top: 3px #18CFAB solid;
}

.bg-aqua {
	background-color: #18CFAB;
	border-top: 3px white solid;

}

.fa-hand-point-up {
	color: #18CFAB;
	font-size: 50px;
}

.fa-gem {
	font-size: 50px;
}

.fa-assistive-listening-systems {
	font-size: 50px;
	color: #18CFAB;
}

.fa-laptop {
	font-size: 50px;
}

/*Our services section*/

.section-services {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.section-title {
	font-size: 30px;
	margin-bottom: 30px;
}


.section-title::before {
	content: "";
	display: block;
	border-bottom: 3px #18CFAB solid;
	margin: 30px auto;
	width: 70px;
	transform: skewX(70deg);
	position: relative;
	top: 100px;
	left: 25px;
}

.section-title::after {
	content: "";
	display: block;
	border-bottom: 3px #18CFAB solid;
	margin: 30px auto;
	width: 70px;
	transform: skewX(50deg);

}

.services-nav {
	display: flex;
	justify-content: center;

}

.services-nav-box {
	flex: 1 1 100px;
   padding: 30px 10px;
   background-color: #F8FCFE;
   border: 1px solid #EBEBEB;
   color: #717171;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
}

.services-nav-box:hover {
    background-color: #18cfab;
    color: #fff;
}

.services-nav-box-active {
    position: relative;
    background-color: #18cfab;
    color: #fff;
}

.services-nav-box-active:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: #18cfab;
    transform: rotate(45deg);
}

.services-content {
	display: flex;
	justify-content: space-between;
	height: 140px;
	margin-top: 25px;
}

.services-content-text {
	width: 930px;
	line-height: 24px;
	font-size: 14px;
	text-align: justify;
}

.services-content-img {
	width: 193px;
	height: 100%;
}

/*purchase section*/

.section-purchase {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), 
	url('../img/ready.jpg') no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 125px;
	padding-bottom: 130px;
	text-align: center;
}

.purchase-title {
	text-transform: uppercase;
	font-size: 38px;
}

.purchase-subtitle {
	font-size: 16px;
	color: white;
	margin-top: 20px;
}

.purchase-btn {
	width: 150px;
	height: 60px;
	margin: 0 auto;
	margin-top: 35px;


}

.purchase-btn:hover {
	background-color: #00CBF6;
}

/*Our cases*/

.section-cases {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #f8fcfe;
}

.cases-nav {
	display: flex;
	justify-content: center;
}

.cases-nav-box {
	height: 30px;
	background-color: #ffffff;
	border: 1px #ebebeb solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px 10px;
	color: #717171;
	cursor: pointer;
}

/*cases images*/

.cases-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 70px 0px;
}

.cases-box {
	border: none;
}

#gallery {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	margin: 15px auto;
}

.gallery-box {
	position: relative;
}

.cases-hover {
    text-align: center;
    border-top: 3px solid #18cfab;
    width: 284px;
    height: 206px;
    display: none;
    position: absolute;
    background: white;
}

.gallery-box:hover .cases-hover {
	top: -3px;
	display: block;
}

.cases-hover-btn {
    background: white;
    width: 40px;
    height: 40px;
    margin: 20px 0 35px 0;
    border-radius: 50%;
    border: 2px solid #18cfab;
    color: #18cfab;
    font-size: 16px;
}

.cases-hover-btn:hover {
    background: #18cfab;
    color: #fff;
}

.cases-hover-title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
}

.cases-hover-category {
    font-size: 16px;
    font-weight: 300;
    color: #8A8A8A;
}


/*Load more btn*/

.box-hidden {
	display: none;
}

.load-btn {
	width: 150px;
	height: 60px;
	margin: 25px auto;
	margin-top: 25px;
	font-size: 12px;
}

.fa-plus {
	color: white;
	margin-right: 10px;
}

#buttons button {
	padding: 15px 25px;
	cursor: pointer;
	font-size: 14px;
    background-color: #ffffff;
    border: 1px #ebebeb solid;
    justify-content: center;
    color: #717171;
}

/*Our news section*/

.section-news {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #ffffff;
}

.news-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 10px;
}

.news-box {
	width: 250px;
	text-align: left;
	margin-top: 15px;
	background-color: #f8fcfe;
}

.news-img {
	height: 250px;

}

.photographer {
	background: url("../img/photographer.png") no-repeat center;
	background-size: cover;
}

.fire {
	background: url("../img/fire.png") no-repeat center;
	background-size: cover;
}

.bike {
	background: url("../img/bike.png") no-repeat center;
	background-size: cover;
}

.ipad-man {
	background: url("../img/ipad-man.png") no-repeat center;
	background-size: cover;
}

.sea {
	background: url("../img/sea.png") no-repeat center;
	background-size: cover;
}

.extreme {
	background: url("../img/extreme.png") no-repeat center;
	background-size: cover;
}

.trip {
	background: url("../img/trip.png") no-repeat center;
	background-size: cover;
}

.work {
	background: url("../img/work.png") no-repeat center;
	background-size: cover;
}

.date {
	color: white;
	background-color: #203e38;
	width: 50px;
	height: 50px;
	text-align: center;
	position: relative;
	left: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.news-box:hover .date {
	background-color: #18cfab;
}

.news-box-title {
	color: #717171;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 5px;
}

.news-box:hover .news-box-title {
	color: #18cfab;
}

.news-comment {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 70px;
	font-size: 14px;
	color: #717171;
}

.news-who-comment::after {
	content: "|";
	color: #717171;
	position: relative;
	left: 22px;
}

/*Our reviews section*/

.section-review {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	background: url('../img/mountain.jpg') no-repeat center;
	background-size: cover;
}

.review-white {
	color: white;
	font-size: 36px;
}

.fa-quote-right {
	color: #18cfab;
	font-size: 50px;
	margin-bottom: 25px;
}

.review-text {
	color: white;
	font-size: 16px;
	margin-top: 15px;
	margin-left: 150px;
	margin-right: 150px;
}

.review-person-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px 500px;
}

.review-name {
	text-transform: uppercase;
	margin-top: 25px;
}

.review-job {
	color: white;
	font-size: 14px;
	margin-top: 25px;
}

.face-img {
	display: block;
    margin: 30px auto;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 10px #18cfab40;
}

.review-img {
	display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #18cfab40;
}

.slide {
	width: 100px;
	padding: 1em;
	text-align: center;
	cursor: pointer;
}

.slide:hover {
	bottom: 15px;
}

.slides {
	width: 100%;
	margin: auto;
}

.tabs {
	display: flex;
	justify-content: center;
	padding: 0;
	text-align: center;
}

.slide-item {
	display: none;
	height: auto;
}

.slide-visible {
	display: block;
}

.review-nav-arrow {
    padding: 0 12px 4px 12px;
    margin: 45px 15px;
    color: #BBBBBB;
    background: none;
    border: 1px solid #BBBBBB;
    font-size: 24px;
    vertical-align: middle;
    user-select: none;
}

.review-nav-arrow:hover {
    background-color: #18cfab;
    color: #fff;
}

.review-nav-img {
    position: relative;
    bottom: 0;
    margin: 0 20px;
    width: 56px;
    height: 55px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
    transition: 0.3s;
}

.review-nav-img:hover {
    bottom: 10px;
}

.review-nav-img-active {
    bottom: 10px;
    border: 3px solid #18cfab;
}

/*footer*/

.footer {
    padding: 40px 0;
    background-color: #22353F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}