body {
    font-family: 'Lato', sans-serif;
}

.top-navigation {
    height: 4rem;
    background-color: #1d2124;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9em;
}

.top-logo-img {
    width: 4em;
    height: 4rem;
    background-color: #1a1d20;
    position: relative;
}

.top-logo-img:before {
    content: "";
    background-image: url("../img/logo.png");
    padding: 16px 16px;
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 15px;
}

.nav-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 50em;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;

}

.top-search {
    width: 4em;
    height: 4em;
    background-color: #1a1d20;
    display: flex;
    align-items: center
}

.top-search-icon {
    width: 1rem;
    height: 1em;
    margin: 0 auto;
}

.latest-news {
    background-image: url("../img/header-bg.png");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px;
}

.latest-news-title {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    color: white;
}

.lates-news-btn {
    margin-left: 20px;
    margin-top: 25px;
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: white;
    border-radius: 15px;
}

.subscribe {
    background-color: #89ca62;
}

.articles {
    background-color: #14b9d5;
}

.popular-post {
    padding: 50px 150px;
    background: #f2f2f2;
}

.popular-post-title {
    margin-bottom: 50px;
}

.blue-title {
    text-transform: uppercase;
    text-align: center;
    color: #69cbdc;
    font-weight: 700;
    font-size: 1.7rem;
}

.popular-post-items {
    display: flex;
    flex-wrap: wrap;
}


.popular-post-item-box {
    padding-bottom: 28px;
    margin-right: 10px;

}

.popular-item-box-img {
    background-size: cover;
    width: 370px;
}

.vanglo {
    height: 260px;
    background-image: url("../img/vanglo.png");
}

.sunrise {
    height: 380px;
    background-image: url("../img/sunrise.png");
}

.stargaze {
    height: 290px;
    background-image: url("../img/stargaze.png");
}

.royal {
    height: 260px;
    background-image: url("../img/royal.png");
}

.sunset {
    height: 247px;
    background-image: url("../img/sunset.png");
}

.glorious {
    height: 380px;
    background-image: url("../img/glorious.png");
}

.popular-item-box-title {
    font-size: 1.1rem;
    color: #353a3d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
}

.popular-clients {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item1 item2 item2 item4"
    "item5 item6 item7 item8";
    padding: 100px 150px;
    text-align: center;
    background-image: url("../img/paralaxbg2.jpeg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular-clients-items {
    background-position: center;
    background-repeat: no-repeat;
}

.clients-title {
    grid-area: item2;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 35px;
    padding-top: 35px;
    color: white;
}

.nationalpost {
    grid-area: item5;
    background-image: url("../img/nationalpost.png");
}

.dryme {
    grid-area: item6;
    background-image: url("../img/dryme.png");
}

.house-home {
    grid-area: item7;
    background-image: url("../img/house&home.png");
}

.journy {
    grid-area: item8;
    background-image: url("../img/journy.png");
}

.top-rated-title {
    margin-top: 50px;
}

.top-rated {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.top-rated-item {
    background-position: center;
    background-repeat: no-repeat;
    padding: 140px 95px;
}

.top-rated-img1 {
    background-image: url(../img/playroom.png);
}

.top-rated-img2 {
    background-image: url(../img/magicroom.png);
}

.top-rated-img3 {
    background-image: url(../img/magicroom.png);
}

.top-rated-img4 {
    background-image: url(../img/pool.png);
}

.top-rated-img5 {
    background-image: url(../img/horse.png);
}

.top-rated-img6 {
    background-image: url(../img/building.png);
}

.top-rated-img7 {
    background-image: url(../img/stadium.png);
}

.hot-news {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "item1 item1 item1 item4"
    "item5 item5 item7 item7"
    "item9 item9 item11 item11"
    "item13 item15 item15 item15";
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: right;
}

.hot-news-item {
    padding: 20px;
    background-color: #f9f7f7;
}

.hot-news-img-top {
    width: 90%;
}

.hot-news-box1 {
    grid-area: item1;
}

.hot-news-img-ntext {
    float: left;
}

.hot-news-item-title{
    font-size: 1.1rem;
    color: #353a3d;
    margin-top: 17px;
}

.hot-news-item-text {
    margin-top: 30px;
    color: #70787c;
    font-size: 0.8rem;
}

.hot-news-box4 {
    grid-area: item4;
}

.center-title {
    text-align: center;
}

.hot-news-box5 {
    grid-area: item5;
}

.hot-news-box7 {
    grid-area: item7;
}

.hot-news-box9 {
    grid-area: item9;
}

.hot-news-box11 {
    grid-area: item11;
}

.hot-news-box13 {
    grid-area: item13;
}

.hot-news-box15 {
    grid-area: item15;
}

.bottom-navigation {
    background-color: #1d2124;
    margin-top: 15px;
    padding: 20px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "item1 item1 item2";
    color: white;
    position: relative;
}

.copyright {
    grid-area: item1;
}

.bottom-title {
    grid-area: item2;
    text-align: right;
    text-transform: uppercase;
}

.bottom-title:before {
    content: "";
    background-image: url("../img/bottom-logo.png");
    background-size: cover;
    padding: 5px 25px;
}

#goUpBtn {
    position: fixed;
    padding: 25px 25px;
    text-decoration: none;
    background-color: darkslateblue;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.5;
    color: white;
    font-weight: 700;
}

.top-menu {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-around;
}

.menu-link {
    text-decoration: none;
    color: darkslateblue;
}