body {
	background-color: rgba(0,0,0,0.95);
	perspective: 900px;
}
.main {
	color: rgba(255,220,70,0.9);
	font-family: sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	width: 45%;
	margin: 0 auto;
	animation: woop 30s linear infinite;
	line-height: 55px;
}

.title {
	text-align: center;
	margin-bottom: 30px;
}

.text {
	text-align: justify;
	margin-bottom: 30px
}

@keyframes woop {
	from {
		transform: rotateX(40deg) translateY(850px);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: rotateX(40deg) translateY(-800px);
	}
}