body {
    max-width: 1480px;
    max-height: 1280px;
    font-family: sans-serif;
    padding: 60px 100px 30px 100px;
}

.head-block-title {
    font-size: 80px;
}

.text-blue {
    color: #4bcaff;
}

.head-menu {
    margin-top: 45px;
    text-align: center;
    background-color: #35444f;
}

.head-navbar {

}

.head-navbar-list {
    display: inline-block;
    padding: 26px;
    font-size: 25px;
}

.head-navbar-list-link {
    text-decoration: none;
    color: #ffffff;
}

.main-block {
    margin-top: 50px;
}

.clear-fix::after {
    content: '';
    display: block;
    clear: both;
}

.left-menu {
    float: left;
    width: 345px;
    border: black 1px solid;
}

.left-menu-navbar {

}

.left-menu-navbar-list {
    list-style-type: none;
    padding-top: 30px;
    padding-left: 45px;
    padding-bottom: 30px;
}

.left-menu-navbar-list-link {
    text-decoration: none;
    color: #495863;
}

.main-content {
    float: right;
    width: 800px;
    margin-left: 50px;
}

.main-logo {
    border: 1px solid black;
    padding: 75px 300px;
}

/*.main-logo-img {*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border: 1px solid black;*/
    /*padding: 75px 180px;*/

/*}*/

.main-content-box {
    margin: 50px 35px;
}

.main-text {
    text-align: justify;
    margin-top: 30px;
    font-size: 18px;
}

.bottom-menu {
    margin-top: 50px;
}

.bottom-menu-navbar {
    background-color: #b4b7ba;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom-menu-navbar-list {
    display: inline-block;
    font-size: 25px;
    margin-left: 15px;
}

.bottom-menu-navbar-list-link {
    text-decoration: none;
    color: #0c1927;
}

.copyright {
    list-style-type: none;
    float: right;
    font-size: 25px;
    margin-right: 25px;
}