.body {
    font-family: sans-serif;
    margin: 50px;
    padding: 0px;
	background-color: #333333

}

.head-box {
    font-size: 18px;
    height: 81px;
}

.navbar {
    height: 81px;
	background-color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.navbar-list {
    display: inline-block;
    text-transform: uppercase;
    margin: 25px;
}

.navbar-link {
    text-decoration: none;
    color: #16a085;
    font-size: 18px;
}

.main-img {
    background-image: url("../img/324934-svetik.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-box {
    text-align: center;
    height: 650px;
    background-color: #f5f6f7;
    font-weight: bold;
    padding: 25px;

}

.main-title {
    text-transform: uppercase;
    font-size: 20pt;
}
.main-content {
    margin: 35px 115px;
}

.button-get-ready {
    padding: 20px 45px;
    text-transform: uppercase;
    background-color: #16a085;
    color: white;
    font-size: 12px;
}

.bottom-box {
    text-align: right;
    font-weight: bold;
    margin-right: 100px;
    margin-bottom: 45px;
    margin-top: 50px;
    font-size: 16px;

}