body {
	background-color: peru;

}

.main-table {
	width: 1200px;
	margin: 15px auto;
	border: #3a4965 solid 25px;
	font-size: 16px;
	font-family: 'Arimo', sans-serif;
	color: #484848;
}

.top-box {
	background-color: #fafafa;
}

.top-box-title {
	font-size: 1.13rem;
	text-transform: uppercase;
}

.top-box-subtitle {
	font-size: 1.9rem;
	text-transform: uppercase;
}

.green-bg {
	background-color: #89c331;
}

.red-bg {
	background-color: #f04a56;
}

.undefined-bg {
	background-color: #20807c;
}

.black-bg {
	background-color: #484848;
}

.box-title-name {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: white;
}

.bigger {
	font-size: 1.9em;
}

.price {
	font-size: 3.8rem;
	position: relative;
}

.price::before {
	content: "$";
	font-size: 3.8rem;
}

.cents {
	position: absolute;
	top: 10px;
   left: 130px;
	font-size: 1.5rem;
}

.contract-time {
	font-size: 1.13rem;
	text-transform: uppercase;
}

.main-box-bg:nth-child(odd) {
	background-color: #f2f2f2;
}
.main-box-bg:nth-child(even) {
	background-color: #e3e3e3;
}

.main-box-text {
	text-transform: uppercase;
}

.main-box-icon {
	margin-right: 15px;
}

.foot-box {
	background-color: #eeeeee;
}

.bottom-box {
	padding: 2rem 0px;
}

.contact-us-bg {
	background-color: #dddddd;
}

.ultimate-foot-bg {
	background-color: #f4f4f4;
}

.bottom-box-btn {
	text-transform: uppercase;
	color: white;
	padding: 1em 5em;
	font-size: 1rem;
	border: none;
	border-radius: 8px;
}

.bottom-box-btn:hover {
	transition: ease 0.5s;

	transition-delay: 0.15s;
	box-shadow: 13px 19px 14px 3px rgba(0,0,0,0.5);
}

.column {
	height: 70px;
	border-radius: 5px;
}

.row {
	width: 100rem;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
	text-align: center;	
}

.theme-btn {
	width: 200px;
	display: block;
	margin: 30px auto;
	padding: 13px;
	border: 1px solid black;
	border-radius: 5px;

}


